
/* CSS for Folkes Folk */

#face {
	width:	400px;
	height:	400px;
}
#alternatives {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;

	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
}
.alt {
	width: 200px;
	height: 200px;
}

