
/* CSS for Folkes Folk */

h1 {
	margin: 1em 0px;
	font-family: Arial, Sans;
	font-size: x-large;
	font-weight: bold;
}

p {
	margin-bottom: 1em;
}

#container {
	width: 424px;
	margin-left: auto;
	margin-right: auto;
}
#game {
	display: none;
       	position: relative;
	top: 28px;
	width: 424px;
	height: 620px;
	background-image: url(../themes/sunset/background.jpg);
	z-index: 0;
}

/* A lot of the values here are also hardcoded in the JS. Ugly, I know. */

#face {
	display: none;
	z-index: 1;
	position: absolute;
	width: 368px;
	height: 368px;
	top: 28px;
	left: 28px;	
}
.answers {
	display: none;
	z-index: 1;
	position: absolute;
	width: 164px;
	height: 164px;
	top: 424px;
}
#correct_answer {
	left: 28px
}
#wrong_answer {
	left: 232px;
}

.bigbutton {
	margin: 1em auto; 	/* Why can't I get it centered? */
	font-size: large;
	font-weight: bold;
	padding: 1em;	
}
