<!DOCTYPE html>
<html>
 <head>
  <title>${name}</title>
  <meta charset="UTF-8" />
  ${prereqs}
  ${folksy}
  <link rel="stylesheet" type="text/css" media="screen" href="${href_prefix}css/reset.css" /> 
  <link rel="stylesheet" type="text/css" media="screen" href="${href_prefix}css/folksy.css" />
 </head>
 <body>
  <div id="container">
    <div id="intro">
	<h1>${name}</h1>
	${description}
	${runbutton}
    </div>
    ${game}
    <div id="credits">
    </div>
 </div>
 </body>
</html>
