<!DOCTYPE html>
<html>
 <head>
  <title>${name}</title>
  <meta charset="UTF-8" />
  ${prereqs}
  <script type="text/javascript">
    soundManager.url = '${href_prefix}swf/'
    soundManager.debugMode = true;
  </script>
  ${folksy}
  <link rel="stylesheet" type="text/css" media="screen" href="${href_prefix}css/reset.css" /> 
  <link rel="stylesheet" type="text/css" media="screen" href="${href_prefix}css/folkesfolk.css" />
 </head>
 <body>
  <div id="container">
    <div id="intro">
	<h1>${name}</h1>
	${description}
	${runbutton}
    </div>
    ${game}
    <div id="credits">
    </div>
 </div>
<!-- <footer><a href="README.html">Folkes Folk</a></footer> -->
 </body>
</html>
